---
app:
  name: "Schedule"
  lname: "Schedule PWA"
  title: "A To-dos, Notes And More App"
  desc: "Schedule lets you save to-dos, notes, school timetables and more."
  version: "0.0.0"
  release:
    tag: "Unreleased"
server:
  port: 150
  root:
    session:
      time: 3600
  usr:
    session:
      time: 31104000000
  security:
    token_length: 96
    recover_token_length: 96
cli:
  name: "schedule"