---
app:
  name: "Schedule"
  lname: "Shcedule PWA"
  title: "A To-dos, Notes And More App"
  desc: "Schedule lets you save to-dos, notes, school timetables and more."
  version: "0.0.0"
  release:
    tag: "0.0.0-alpha"
  nav:
  - name: "To-dos"
    icon: "check-all"
    href: "#to-dos"
    nav: true
  - name: "Notes"
    icon: "journals"
    href: "#notes"
    nav: true
  - name: "Other"
    icon: "three-dots"
    href: "#other"
    nav: true
  - name: "Calendar"
    icon: "calendar-date"
    href: "#calendar"
    nav: false
  - name: "School"
    icon: "book"
    href: "#school"
    nav: false
server:
  port: 150
  root:
    session:
      time: 3600
  usr:
    session:
      time: 604800
  security:
    token_length: 3
    recover_token_length: 3
cli:
  name: "schedule"